*{
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: "DancingScript";
  src: url("font/DancingScript.ttf") format("truetype");
  }
@font-face{
	font-family: "Montserrat";
	src: url("font/Montserrat-Regular.ttf") format("truetype");
}

header{
	margin: auto;
	background-color: #EE9B00;
	height: 10%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
}

.logo{
	font-family: "DancingScript", sans-serif;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	padding: 5px;
}


.log{
	width: 120px;
	margin: 0 auto;
}

h2{
	font-size: 45px;
}

ul{
	list-style-type: none;
}

.nav li a{
	background-color: #EE9B00;
	font: bold 18px sans-serif;
	letter-spacing: 0.6px;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav li a:hover{
	background-color: #BB3E03;
}

.nav>li{
	float: left;
}

.nav li ul{
	display: none;
	position: absolute;
}

.nav li ul #s{
	width: 63.5%;
}

.nav li ul #n{
	width: 132%;
}

.nav li:hover > ul{
	display: block;
}

.nav ul a{
	font: bold 16px sans-serif;
	letter-spacing: 0.6px;
	background-color: #F2B90F;
}

body{
	background-image: url(imag/fondo2.png);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.formulario{
	background-image: url(imag/regalo2.png);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	width: 25%;
	min-width: 300px;
	max-width: 500px;
	max-height: 500px;
	height: 58vh;
	text-align: center;
	border-radius: 10px;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 2%;
}

form{
	width: 100%;
	height: 100%;
	background-color: ;
}

.formulario h1{
	font:bold 1.5em Montserrat;
	padding: 20% 0 5% 0;
}

label{
	font: normal 1em Montserrat;
	display: flex;
	flex-direction: column;
	padding-top: 2.5%;
}

#nombre{
	padding: 2.5% 12%;
	background-color: white;
	border: none;
	border-radius: 10px;
}

#email{
	padding: 2.5% 12%;
	background-color: white;
	border: none;
	border-radius: 10px;
}

#testimonio{
	padding: 2.5% 14%;
	background-color: white;
	border: none;
	border-radius: 15px;
}

#botont{
	font: normal 15px Montserrat;
	color: white;
	padding: 3% 6%;
	background-color: #F23F00;
	border: none;
	border-radius: 5px;
	margin: 4% 0px;
}

#botont:hover{
	background-color: white;
	color: #F23F00;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	background-color: #CA6702;
	padding: 5px;
	font: normal 1em Montserrat;
	color: white;
	justify-content: space-between;
	display: flex;
}

.iz{
	display: flex;
	align-items: center;
}

.der{
	display: flex;
	align-items: center;
	padding-right: 20px ;
}

@media screen and (max-width:1200px){

	.formulario h1{
		padding: 26% 0 5% 0;
	}

}

@media screen and (max-width:790px){

	header{
		justify-content: center;
		flex-direction: column;	
	}

	.Menu{
		margin-top: 2px;
	}	

	.formulario h1{
		padding: 28% 0 5% 0;
	}


}

@media screen and (max-width:480px){

	.log{
		width: 100px;
	}

	h2{
		font-size: 35px;
	}

	.nav li a{
		font-size: 15px;
	}

	.nav>li{
		float: left;
		text-align: center;
	}

	.nav li ul #s{
	width: 58.5%;
	}

	.nav li ul #n{
		width: 121%;
	}


	footer{
		font-size: 0.8em;
	}

	.iz img{
		width: 22%;
	}

	.der img{
		width: 22%;
	}

		.formulario h1{
		padding: 29% 0 5% 0;
	}
}

@media screen and (max-width: 365px){

	.nav li a{
		font-size: 14px;
		padding: 7px;
	}

	.nav li ul #n{
	width: 123%;
	}
}