*{
	margin: 0;
	padding: 0;
}


body{
	background-color: #D6DBD7;
}

@font-face {
  font-family: "DancingScript";
  src: url("font/DancingScript.ttf") format("truetype");
  }

@font-face{
	font-family: "Montserrat";
	src: url("font/Montserrat-Regular.ttf") format("truetype");
}

header{
	margin: auto;
	background-color: #EE9B00;
	height: 10%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}

.logo{
	font-family: "DancingScript", sans-serif;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	padding: 5px;
}


.log{
	width: 120px;
	margin: 0 auto;
}

h2{
	font-size: 45px;
}

ul{
	list-style-type: none;
}

.nav li a{
	background-color: #EE9B00;
	font: bold 18px sans-serif;
	letter-spacing: 0.6px;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav li a:hover{
	background-color: #BB3E03;
}

.nav>li{
	float: left;
}

.nav li ul{
	display: none;
	position: absolute;
}

.nav li ul #s{
	width: 63.5%;
}

.nav li ul #n{
	width: 171px;
}

.nav li:hover > ul{
	display: block;
}

.nav ul a{
	font: bold 16px sans-serif;
	letter-spacing: 0.6px;
	background-color: #F2B90F;
}

/*Slider*/

.container{
	padding: 2rem;
}

.container2{
	padding: 2rem;
	margin-bottom: 5rem;
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	width: 100%;
	min-width: 500px;
    height: auto;
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	top: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}

.fondo {
	background-image: url(imag/fondo2.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	padding: 4%;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	background-color: #CA6702;
	padding: 5px;
	font: normal 1em Montserrat;
	color: white;
	justify-content: space-between;
	display: flex;
	z-index: 2;
}


.iz{
	display: flex;
	align-items: center;
}

.der{
	display: flex;
	align-items: center;
	padding-right: 20px ;
}

@media screen and (max-width:790px){

	header{
		justify-content: center;
		flex-direction: column;	
	}

	.Menu{
		margin-top: 2px;
	}

	.container{
	padding: 1.5rem;
	}

	.container2{
	padding: 1.5rem;
	margin-bottom: 4rem;
	}
}

@media screen and (max-width:480px){

	.log{
		width: 100px;
	}

	h2{
		font-size: 35px;
	}

	.nav li a{
		font-size: 15px;
	}

	.nav>li{
		float: left;
		text-align: center;
	}

	.nav li ul #s{
	width: 58.5%;
	}

	.nav li ul #n{
		width: 121%;
	}

	footer{
		font-size: 0.8em;
	}

	.iz img{
		width: 22%;
	}

	.der img{
		width: 22%;
	}

	.slider-nav a {
	width: 0.4rem;
	height: 0.4rem;
	}		
}

@media screen and (max-width: 365px){

	.nav li a{
		font-size: 14px;
		padding: 7px;
	}

	.nav li ul #n{
	width: 123%;
	}

}
